<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.11" targetFramework="net45" />
  <package id="CliWrap" version="2.3.1" targetFramework="net45" />
  <package id="LtGt" version="1.0.1" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.1.1" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="2.5.0.1205" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="Ookii.Dialogs.Wpf" version="1.0.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="75.0.3770.90" targetFramework="net45" />
  <package id="Sprache" version="2.2.0" targetFramework="net45" />
  <package id="YoutubeExplode" version="4.7.8" targetFramework="net45" />
  <package id="YoutubeExplode.Converter" version="1.4.3" targetFramework="net45" />
</packages>